*
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-color: #cdcdcd;
}
#heading
{
    color: white;
    padding: 10px 30px;
    background-color: black;
}
table
{
    width:100%;
    font-size: 20px;
}
th,td{
    border:1px solid rgb(165, 157, 157);
    padding: 10px 20px;
    background-color: white;
}

#buttons
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap:10px;
    align-items: center;
    padding: 10px 30px;
    flex-wrap: wrap;
}

button
{
    padding: 10px 15px;
    border: none;
    background-color: black;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.genderHeading
{
    text-align: center;
    background-color: black;
    color:white;
    font-size: 30px;
}

#search
{
    width: 100%;
    display: flex;
    justify-content: center;
    gap:10px;
    align-items: center;
    padding: 10px 30px;
}
#searchBar
{
    width:50%;
    height:40px;
    background-color: white;
    padding-left: 20px;
}